footer {
  background: var(--color-Primitives-black-900, #1a181a);
}

footer a {
  text-decoration: none;
}

footer {
  color: var(--color-Primitives-black-200, #c0c0c0);
  font-family: Inter;
  font-size: 0.75rem;
  letter-spacing: 0.115px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

.footer-media {
  display: flex;
  gap: 36px;
  justify-content: right;
  align-items: center;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.footer-rightcolumn {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

.footer-credits {
  display: flex;
  justify-content: space-between;
}

.footer-list a {
  color: var(--color-Primitives-white-100, #efebe2);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.16px;
}

.footer-credits {
  color: var(--color-Primitives-white-100, #efebe2);
  font-family: Inter;
  font-size: 12px;
  letter-spacing: 0.12px;
}

.footer-logo img {
  width: 100vw;
}
