<div class="article-card">
  <img src="img/identity-card.png" alt="identity card" />
  <div class="article-card-description">
    <div class="article-card-description-text">
      <p class="secondary-text-small">Marie Dufour</p>
      <h3>Quelle est la situation dans votre commune?</h3>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="17"
      height="22"
      viewBox="0 0 17 22"
      fill="none"
    >
      <g clip-path="url(#clip0_558_1930)">
        <path
          d="M14.8812 0H2.11877C1.53714 0 1.03861 0.214674 0.623167 0.644028C0.20772 1.07338 0 1.59719 0 2.21546V22L8.5 16.9766L17 22V2.21546C17 1.59719 16.7923 1.07338 16.3768 0.644028C15.9614 0.214674 15.4629 0 14.8812 0ZM14.8812 18.2131L8.5 14.4262L2.11877 18.2131V2.21546H14.8812V18.2131Z"
          fill="#1A181A"
        />
      </g>
      <defs>
        <clipPath id="clip0_558_1930">
          <rect width="17" height="22" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
</div>
