@import "variables";
@import "font";
@import "base";
@import "layout";
@import "modules/footer";
@import "modules/btn";
@import "modules/hero";
@import "modules/card-mobil";
@import "modules/btn-more";
@import "modules/newsletter";

main {
  display: flex;
  padding: 12px 0;
  gap: 72px;
  flex-direction: column;
}

.article {
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.article-card-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
}
